<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HPES.Properties.Settings.HPESSQLConn" connectionString="server=127.0.0.1;database=HPES;uid=sa;pwd=" />
        <add name="HPES.Properties.Settings.HPESConn" connectionString="Provider=SQLOLEDB;Data Source=127.0.0.1,1433;User ID=sa;Initial Catalog=HPES"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>